@charset "UTF-8";
/**
    The following stylesheet is done by Olivia, as stated by Marcos
    The charset, fieldset.toplevel, and legend done by Robert, as stated by Marcos
    Please add on more or update from other members to stylesheet
 */

fieldset.innerFieldset{
    border: none;
}

body {
    margin: 3em;
}

fieldset {
    border: 3px solid black;
    padding: 2em;
}

.err {
    color: darkred;
    display: none;
}

legend
{
    width: auto;
}